.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  font-size: 3rem;

  background: linear-gradient(90deg, var(--secondary), var(--secondary), #df88eb, var(--text), var(--text));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  text-shadow: 0 0 5px rgba(252, 151, 255, 0.603);
}

.loginContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
}

.loginContainer label {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}

.loginContainer input {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: color-mix(in srgb, var(--text) 10%, var(--background));
  color: var(--text);
}

.stayLogged {
    font-size: 1rem;
}