@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text: #e1e1f2;
  --background: #010104;
  --primary: #8b8bdd;
  --secondary: #1f1f82;
  --accent: #2e2ed8;
  --accent2: #df88eb;
  --font: "Roboto", sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--background);
  color: var(--text);

  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 5rem 5rem;

  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  background-color: linear-gradient(to top, var(--secondary), var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h2 {
  margin: 0;
}
